---
import { ArrowRight } from "lucide-react";

interface Props {
  name: string;
  description: string;
  slug: string;
}

const { name, description, slug } = Astro.props;
---

<div class="relative space-y-2 border-l-[1px] pl-4">
  <h3 class="text-h6">{name}</h3>
  <p class="line-clamp-3">{description}</p>
  <a
    href={slug}
    class="flex items-center text-small text-orange-600 before:absolute before:inset-0 before:z-10">
    Read more <ArrowRight className="ml-2 size-4" />{" "}
  </a>
</div>
