---
import ProjectCard from "@/components/project-card.astro";
import Layout from "@/layouts/Layout.astro";
import { Separator } from "@/components/ui/separator";
import { getCollection } from "astro:content";

const projects = (await getCollection("project")).sort((a, b) => {
  return new Date(b.data.publishedDate).getTime() - new Date(a.data.publishedDate).getTime();
});

const projectCount = projects.length;
---

<Layout title="Fazza Amiarso" description="A personal website">
  <main class="mx-auto w-11/12 max-w-5xl space-y-10 pt-20">
    <div>
      <h2 class="pb-2 text-3xl font-semibold tracking-tight first:mt-0">
        Projects <span class="text-xl">({projectCount})</span>
      </h2>
      <p class="text-lg leading-7">
        What I've been working on to create a space in the vast space of the web
      </p>
      <Separator className="mt-2" />
    </div>
    <ul class="grid gap-4 md:grid-cols-2">
      {
        projects.map((project) => {
          return (
            <li>
              <ProjectCard {...project.data} slug={`/project/${project.slug}`} />
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
