---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="mx-auto w-11/12 max-w-5xl pt-10">
    <div>
      <h2 class="pb-2 text-3xl font-semibold tracking-tight first:mt-0">I'm Fazza</h2>
      <p>A Fullstack-able Frontend developer from Indonesia.</p>
    </div>
    <div>
      <h3>Why?</h3>
      <p>
        I love building stuff on the web because I can freely express my Idea. It’s like having your
        own tiny space that show you exist in this world. Sharing knowledge and opinion, build
        useful application, craft stunning visual experience, make new friends and connections.
      </p>
    </div>
    <div>
      <h2>Languages I speak</h2>
      <p>
        Since I was a child, I’m fascinated by the power that languages hold to connect with people
        simply by speaking a person’s native language. I also believe, understanding the culture can
        open the door to people’s heart. It motivated me to learn and understand different language
        and culture.
      </p>
    </div>
  </main>
</Layout>
