---
import { buttonVariants } from "@/components/ui/button";
import AnimatedGridPattern from "@/components/magicui/animated-grid-pattern";
import Layout from "@/layouts/Layout.astro";
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons";
import { ArrowRight } from "lucide-react";
import { getCollection } from "astro:content";
import ProjectCard from "@/components/project-card.astro";
import * as config from "@/site-config";
import { cn } from "@/lib/utils";

const projects = await getCollection("project", ({ data }) => data.featured);
---

<Layout>
  <main class="mx-auto w-11/12 max-w-5xl space-y-20 pt-10">
    <section class="relative space-y-8 py-20">
      <AnimatedGridPattern
        client:load
        className={cn(
          "[mask-image:radial-gradient(400px_circle_at_center,white,transparent)]",
          // "inset-x-0 inset-y-[-30%] h-[200%] skew-y-12",
          "skew-y-12 opacity-75",
          "fixed top-0 -z-10 translate-x-1/3",
        )}
      />

      <h1 class="relative z-20 text-7xl font-semibold leading-tight">
        I
        <span
          class="bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500 bg-clip-text text-transparent">
          craft experience
        </span>
        on the web and help other developers
        <span
          class="relative z-20 bg-gradient-to-bl from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent"
          >level-up</span
        >
        their skills.
      </h1>
      <div class="flex flex-col justify-between gap-4 md:flex-row md:items-center">
        <ul class="flex items-center gap-4">
          <li>
            <a
              class={buttonVariants({ variant: "ghost", size: "icon" })}
              target="_blank"
              href={config.linkedinUrl}><LinkedInLogoIcon className="size-8 text-zinc-700" /></a
            >
          </li>
          <li>
            <a
              class={buttonVariants({ variant: "ghost", size: "icon" })}
              target="_blank"
              href={config.githubUrl}><GitHubLogoIcon className="size-8 text-zinc-700" /></a
            >
          </li>
        </ul>
      </div>
    </section>
    <section class="flex flex-col">
      <h2
        class="mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0">
        Featured Projects
      </h2>
      <p class="mb-8 text-xl leading-7 text-zinc-600">Projects that I've proud of building</p>
      <ul class="grid gap-4 lg:grid-cols-3">
        {
          projects.map((project) => {
            return (
              <li>
                <ProjectCard {...project.data} slug={`/project/${project.slug}`} />
              </li>
            );
          })
        }
      </ul>
      <a class={cn(buttonVariants({ variant: "default" }), "mx-auto mt-8")} href="/project">
        See more projects <ArrowRight className="ml-2 size-5" />
      </a>
    </section>
  </main>
</Layout>
