---
import { buttonVariants } from "@/components/ui/button";
import { Badge } from "@/components/ui/badge";
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons";
import { ArrowUpRight } from "lucide-react";

const openSourceProjects = [
  {
    name: "Astro Reactive Library",
    tech: ["Astro", "Typescript"],
    url: "https://github.com/astro-reactive/astro-reactive",
  },
  {
    name: "Juno",
    tech: ["React", "Typescript"],
    url: "https://github.com/Elysium-Labs-EU/juno-core",
  },
  {
    name: "Icon Shelf",
    tech: ["React", "Typescript", "Electron"],
    url: "https://github.com/Icon-Shelf/icon-shelf",
  },
];
---

<Layout title="Fazza Amiarso" description="A personal website">
  <main class="mx-auto w-11/12">
    <section class="space-y-4 py-20">
      <div class="text-5xl leading-tight">
        <div>Hi, I'm Fazza</div>
        <div>A Jakarta based frontend developer and mentor. I help other developers grow.</div>
      </div>
      <div>
        I'm currently a Mentor at <a
          href="https://www.dicoding.com/mentoring"
          target="_blank"
          rel="noreferrer"
          class="font-semibold underline hover:no-underline">
          Dicoding Indonesia</a
        >
      </div>
      <ul class="flex items-center gap-4">
        <li>
          <a
            class={buttonVariants({ variant: "ghost", size: "icon" })}
            href="https://www.linkedin.com/in/fazzaamiarso/"
            ><LinkedInLogoIcon className="h-6 w-6" /></a
          >
        </li>
        <li>
          <a
            class={buttonVariants({ variant: "ghost", size: "icon" })}
            href="https://github.com/fazzaamiarso"><GitHubLogoIcon className="h-6 w-6" /></a
          >
        </li>
      </ul>
    </section>
    <section class="grid w-full grid-cols-2 gap-2">
      <div class="col-span-2 rounded-md bg-neutral-200 p-20">Invoys</div>
      <div class="rounded-md bg-neutral-200 p-12">Bento 2</div>
      <div class="rounded-md bg-neutral-200 p-12">Bento 3</div>
    </section>
    <section class="pt-12s space-y-8">
      <div>
        <h2 class="text-4xl font-bold">OPEN SOURCE</h2>
        <p class="text-2xl">
          Some of my contributions in the wild as a means of learning and meeting new people
        </p>
      </div>
      <ul class="divide-y-2">
        {
          openSourceProjects.map((project) => {
            return (
              <li class="flex justify-between py-4">
                <a href={project.url} target="_blank" class="group flex items-center text-xl">
                  {project.name}{" "}
                  <ArrowUpRight className="group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform" />{" "}
                </a>
                <div class="flex items-center gap-2">
                  {project.tech.map((t) => (
                    <Badge className="rounded-md">{t}</Badge>
                  ))}
                </div>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>
