---
import ProjectCard from "@/components/project-card.astro";
import Layout from "@/layouts/Layout.astro";

// TODO: should be data from 'content collection'
const projects = [
  {
    thumbnail: "https://i.imgur.com/S2cqkro.png",
    title: "Invoys",
    description:
      "About Open source and self-hostable invoice management app built with Next.js. Made to be free of cost.",
    slug: "#",
    siteUrl: "#",
  },
  {
    thumbnail: "https://i.imgur.com/S2cqkro.png",
    title: "Invoys",
    description:
      "About Open source and self-hostable invoice management app built with Next.js. Made to be free of cost.",
    slug: "#",
    siteUrl: "#",
  },
  {
    thumbnail: "https://i.imgur.com/S2cqkro.png",
    title: "Invoys",
    description:
      "About Open source and self-hostable invoice management app built with Next.js. Made to be free of cost.",
    slug: "#",
    siteUrl: "#",
  },
  {
    thumbnail: "https://i.imgur.com/S2cqkro.png",
    title: "Invoys",
    description:
      "About Open source and self-hostable invoice management app built with Next.js. Made to be free of cost.",
    slug: "#",
    siteUrl: "#",
  },
  {
    thumbnail: "https://i.imgur.com/S2cqkro.png",
    title: "Invoys",
    description:
      "About Open source and self-hostable invoice management app built with Next.js. Made to be free of cost.",
    slug: "#",
    siteUrl: "#",
  },
  {
    thumbnail: "https://i.imgur.com/S2cqkro.png",
    title: "Invoys",
    description:
      "About Open source and self-hostable invoice management app built with Next.js. Made to be free of cost.",
    slug: "#",
    siteUrl: "#",
  },
];
---

<Layout title="Fazza Amiarso" description="A personal website">
  <main class="mx-auto w-11/12 max-w-5xl space-y-10 pt-20">
    <div>
      <h2 class="pb-2 text-3xl font-semibold tracking-tight first:mt-0">Projects</h2>
      <p class="text-lg leading-7">
        What I've been working on to create a space in the vast space of the web
      </p>
    </div>
    <ul class="grid gap-4 sm:grid-cols-2">
      {
        projects.map((project) => {
          return (
            <li>
              <ProjectCard {...project} projectUrl={project.siteUrl} />
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
