---
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import {
  EnvelopeClosedIcon,
  GitHubLogoIcon,
  LinkedInLogoIcon,
  TwitterLogoIcon,
} from "@radix-ui/react-icons";
import { Separator } from "@/components/ui/separator";
import * as config from "@/site-config";

const socialLinks = [
  { text: "Linkedin", href: config.linkedinUrl, icon: LinkedInLogoIcon },
  { text: "Github", href: config.githubUrl, icon: GitHubLogoIcon },
  { text: "X (Twitter)", href: config.twitterUrl, icon: TwitterLogoIcon },
  { text: "fazzamiarso@gmail.com", href: `mailto:${config.email}`, icon: EnvelopeClosedIcon },
];
---

<footer class="mt-12 bg-white pb-12 pt-16">
  <div class="mx-auto w-11/12 max-w-5xl">
    <div>
      <h2 class="mb-4 text-4xl font-bold">Let's Connect</h2>
      <p class="mb-8">
        Don’t hesitate to reach me out to ask questions, discussions, or just to say hello.
      </p>
      <ul class="flex flex-wrap gap-2">
        {
          socialLinks.map((link) => {
            return (
              <li>
                <a
                  href={link.href}
                  target="_blank"
                  referrerpolicy="no-referrer"
                  class={cn(
                    buttonVariants({ variant: "outline" }),
                    "gap-2 rounded-full bg-transparent",
                  )}>
                  <link.icon className="w-5 h-5" /> {link.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
    <Separator className="my-12 bg-transparent" />
    <div class="space-y-20">
      <div class="flex justify-between">
        <p class="text-sm">&copy; Fazza Razaq Amiarso 2024</p>
        <p class="text-sm">Based in Jakarta, Indonesia 🇮🇩</p>
      </div>
    </div>
  </div>
</footer>
