---
import { buttonVariants } from "@/components/ui/button";
import {
  EnvelopeClosedIcon,
  GitHubLogoIcon,
  LinkedInLogoIcon,
  TwitterLogoIcon,
} from "@radix-ui/react-icons";
import { Icon } from "astro-icon/components";
import * as config from "@/site-config";

const socialLinks = [
  { text: "Linkedin", href: config.linkedinUrl, icon: LinkedInLogoIcon },
  { text: "Github", href: config.githubUrl, icon: GitHubLogoIcon },
  {
    text: "Bluesky",
    href: config.blueskyUrl,
    icon: "fa6-brands:bluesky",
  },
  { text: "X (Twitter)", href: config.twitterUrl, icon: TwitterLogoIcon },
  { text: config.email, href: `mailto:${config.email}`, icon: EnvelopeClosedIcon },
];
---

<footer class="mx-auto mt-48 max-w-5xl sm:w-11/12">
  <div class="space-y-8">
    <div class="rounded-md bg-slate-900 py-16">
      <div class="mx-auto w-11/12">
        <h2 class="text-slate-50">Let's Connect! 🤝</h2>
        <p class="mb-8 text-h6 text-slate-300">
          Don’t hesitate to reach me out to ask questions, discussions, or just to say hello.
        </p>
        <ul class="flex flex-wrap gap-2">
          {
            socialLinks.map((link) => {
              return (
                <li>
                  <a
                    href={link.href}
                    target="_blank"
                    referrerpolicy="no-referrer"
                    class:list={[
                      buttonVariants({ variant: "outline" }),
                      "gap-2 rounded-md border-slate-200 bg-transparent font-syne text-slate-200",
                    ]}>
                    {typeof link.icon === "string" ? (
                      <Icon name={link.icon} class="h-5 w-5" />
                    ) : (
                      <link.icon className="w-5 h-5" />
                    )}
                    {link.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
    <div class="mx-auto w-11/12 py-6">
      <div class="flex flex-col items-center justify-between gap-y-6 sm:flex-row">
        <p class="text-small">&copy;Fazza Razaq Amiarso 2025</p>
        <p class="text-small">Made with jugs of coffee in Jakarta, Indonesia 🇮🇩</p>
      </div>
    </div>
  </div>
</footer>
