---
import { Card } from "./ui/card";
import type { CollectionEntry } from "astro:content";

type ProjectCollection = CollectionEntry<"project">["data"];

interface Props extends ProjectCollection {
  slug: string;
}

const project = Astro.props;

const year = project.publishedDate.getFullYear();
---

<Card
  className="relative flex h-full flex-col gap-4 bg-slate-100 p-8 transition-colors hover:bg-zinc-100">
  <div class="size-16 rounded-full bg-zinc-800"></div>
  <div class="text-sm">
    <span class="font-semibold">{year}</span> / <span class="text-zinc-700"
      >{project.type.charAt(0).toUpperCase() + project.type.slice(1)}</span
    >
  </div>
  <h3 class="text-2xl font-semibold">
    <a href={project.slug} class="before:absolute before:inset-0 before:z-10">
      {project.name}
    </a>
  </h3>
  <p class="line-clamp-3 text-zinc-700">{project.description}</p>
</Card>
