---
import { cn } from "@/lib/utils";
import { LucideX } from "lucide-react";
import { buttonVariants } from "./ui/button";
---

<div id="warning-banner" class="fixed bottom-0 z-50 hidden w-full bg-red-600 py-3">
  <div class="mx-auto flex w-11/12 max-w-5xl items-center justify-between">
    <p class="text-sm text-white">
      ⚠️ Site is still under active development. Contents and styling are subject to changes.
    </p>
    <button
      class={cn(
        buttonVariants({ variant: "ghost", size: "icon" }),
        "flex items-center text-sm text-white",
      )}>
      <LucideX />
    </button>
  </div>
</div>

<script>
  const hasClosed = !!sessionStorage.getItem("warning-closed");

  const banner = document.querySelector("#warning-banner") as HTMLElement;
  const closeButton = document.querySelector("#warning-banner button");

  if (!hasClosed) {
    banner.style.display = "block";

    closeButton?.addEventListener("click", () => {
      banner.style.display = "none";
      sessionStorage.setItem("warning-closed", JSON.stringify("closed"));
    });
  }
</script>
