---
import Footer from "@/components/footer.astro";
import WarningBanner from "@/components/warning-banner.astro";
import Header from "@/components/header.astro";
import BaseLayout from "./BaseLayout.astro";

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <WarningBanner />
  <div class="mx-auto max-w-5xl sm:w-11/12">
    <Header />
    <slot />
    <Footer />
  </div>
</BaseLayout>
