---
import Footer from "@/components/footer.astro";
import WarningBanner from "@/components/warning-banner.astro";
import Header from "@/components/header.astro";
import BaseLayout from "./BaseLayout.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
  layout?: boolean;
}

const { title, description, layout = true } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <!-- <WarningBanner /> -->
  <Header />
  <div class:list={[{ "mx-auto max-w-5xl sm:w-11/12": layout }]}>
    <slot />
  </div>
  <Footer />
</BaseLayout>

<ViewTransitions />
